
.gameOverBox {
    border:2px solid;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(100,100,100);
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}

.centerDiv {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.gameOverText {
    font-family: "Anton";
    text-shadow: 0px 4px #000000;
    color: white;
    font-size:150%;
    text-align: center;
}

.buttons {
    font-family: "Anton";
    color: rgb(230,230,230);
    background-color: rgb(127,166,80);
    font-size:2em;
    
    cursor: pointer;
}

.gameOverh3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 5px;
}

.lower-text {
    color:white; font-family: Arial, Helvetica, sans-serif; font-size: large;
}

/* #button1 {
    float: left;
    margin-left: 2vh;
}

#button2 {
    float: right;
    margin-right: 2vh;
} */