   .username-box {
        background-color: rgba(0, 22, 121, 0.5);
        color: rgb(255, 255, 255);
        font-family: "Arial";
        border: 4px solid rgb(47, 47, 47);
        border-radius: 7px;
        padding: 5px;
        margin: 10px;
        text-overflow: ellipsis;
        max-width: 50%;
        overflow: hidden;
        text-wrap:nowrap;
    }

    .option-box {
        display: flex;
        min-height: 200px;
        align-items: center;
        flex-direction: column;
        border: solid 3px black;
        border-radius: 20px;
        width: 25vw;
        min-height: 100%;
        
        color: yellow;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

    }

    .copyable-text-field {
        border: 1px solid white;
        background-color: rgb(14, 113, 3);
        color: rgb(255, 255, 255);
        margin-bottom: 5%;
        width: 80%;
    }

    .copyable-text-field:hover {
        cursor: pointer;
    }

    #game-container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    #outer-container {
        display: flex; align-content: center; justify-content: center; flex-direction: row; width: 100%; padding-top: 8%;
        overflow: hidden;
    }

    html {
        height:max-content;        
        background-image: linear-gradient(to bottom right,black,black,black,rgb(88, 0, 0));
        background-size: cover;
        background-attachment: fixed;
    }

    #usernames {
        display: flex;
       margin-top: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        max-height: 100%;
        max-width: 60%;
    }

    #p2-name {
        background-color: rgba(193, 5, 5,0.5);
    }




    .buttons {
        font-family: "Anton";
        color: rgb(230,230,230);
        background-color: rgb(127,166,80);
        height: fit-content;
        font-size:3vmin;
        object-fit: contain;
        
        cursor: pointer;
    }
    
    .gameOverh3 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        margin: 5px;
    }
    
    .menu-button-1 {
        margin-top: 10%; background-color: darkgreen; color:white; box-shadow: 0 4px rgba(65, 152, 60, 0.2); border-radius: 10px;
    }

    .container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                flex-direction: column;
                
            }
    
        .diff {
            align-content: center;
            color: white;
            text-align: center;
        }
    
        canvas {
            width:90%;
            height: auto;
            max-height: 90vh;
        }

        .side-menu {
            background-color: rgb(35, 35, 35);
            margin: 5px;
            align-items: center;
            min-width: 10vw;
            width: 20vw;
            text-overflow: clip;
            overflow: hidden;

            
        }

        .colors-settings {
         align-items: center; width: 80%; margin-left: 10%; margin-right: 20%;
        }

        .color-setting {
            width: 100%;
        
        }




        .prev-moves-container {
            width: 80%;
            max-height: 50%;
            background-color: black;
        }

        #moves-list {
            border: 3px solid black; width: 80% ;min-height: 50%; max-height: 50%;  margin-top: 0%;
            text-overflow: ellipsis;
            overflow-y: hidden;

        }

        .menu-button-1:hover {
            background-color: rgb(0, 180, 0);
            cursor: pointer;
        }

        #online-settings-container {
            display:none;
        }

        #settings {
            display: none;
        }


        