.submit-button:hover {
    background-color: rgb(0, 180, 0);
    cursor: pointer;
}

.submit-button {
    width:70%; 
    height: 10%;
    font-size: larger;  background-color: darkgreen; color:white; box-shadow: 0 4px rgba(0,0,0,0.2); border-radius: 10px;
    cursor: pointer;
}